.css-hlj6pa-MuiDialogActions-root {
    display: none !important;
    }
    
    .css-j88s13-MuiPickersToolbar-root-MuiDatePickerToolbar-root
    .MuiPickersToolbar-penIconButton {
    display: none !important;
    }
    
    .css-j88s13-MuiPickersToolbar-root-MuiDatePickerToolbar-root {
    padding: 0 !important;
    }
    
    .css-hq2kpw-MuiGrid-root-MuiPickersToolbar-content {
    justify-content: center !important;
    background-color: #81c784;
    padding: 1rem;
    }
    
    .css-1hbyad5-MuiTypography-root {
    display: none !important;
    }
    
    .css-bkrceb-MuiButtonBase-root-MuiPickersDay-root.Mui-selected {
    background-color: #81c784 !important;
    }
    
    .css-195y93z-MuiButtonBase-root-MuiPickersDay-root.Mui-selected {
    background-color: #81c784 !important;
    color: black !important;
    }
    .css-195y93z-MuiButtonBase-root-MuiPickersDay-root:not(.Mui-selected) {
    border-color: transparent !important;
    color: green;
    }
    
    .css-144dnr3-MuiBadge-badge {
    color: green;
    }
    
    .css-1n2mv2k {
    background-color: #f4f4f4;
    margin-bottom: 1rem;
    }