*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: rgb(104, 179, 104);
    margin: 100px auto;
    width: 90%;
    box-shadow: 1 px 1px 4px 1px lightgrey;
}
.container form{
    width: 100%;
    padding: 10px;
}
.container label{
    display: block;
    letter-spacing: 0.1rem;
    font-style: bold;
    margin-bottom: 3px;
}
.container input, .container textarea{
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    border: none;
    box-shadow: 1 px 1px 4px 1px lightgrey;
    
}
.container input:focus, .container textarea:focus{
    box-shadow: 1 px 1px 4px 1px rgb(211, 211, 211);
}

.singleItem {
    margin: 10px 0;
}
.btn button{
    width: 150px;
    font-size: 18px;
    letter-spacing: 0.2rem;
    padding: 5px 10px;
    border: 1px solid transparent;
    outline: none;
    transition: all 0.5s ease-in-out;
    position: relative;
    margin-top: 5px;
}
